*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height: 10vh;
    background: black;
    color: white;
    font-family: sans-serif;
  
   
   

}
.logo{
    text-transform: uppercase;
    letter-spacing:3px;
    font-size: 22px;
    text-decoration: none;
    color:white
}
.nav-links{
    float:right;
    display:flex;
    list-style:none;
    height:100%;
    justify-content: space-around;
    width:35%;
    
}
.nav-links a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color:white;
    letter-spacing: 1px;
    
}
.nav-links li ul{
    list-style:none;
    }

nav:after{
    clear:both;
    display:table;
}
nav ul li{
    background: black;
    color:white;
    
}
nav ul li a{
    line-height: 50px;
    position:relative;
    padding-bottom:5px;
    font-size: 18px;
    color:white;
    
}
nav ul ul {
    position:absolute;
    opacity:0;
    visibility:hidden;
    
    
}
nav ul  li:hover >ul {
    opacity:1;
    visibility:visible;
    
    background-color: black;
    color:white;
    
    width:100px;
}

nav ul ul li{
    position:relative;
    display:list-item;
    width:130px;
    padding-left: 5px;;
    left:-5px;
    
}

nav ul li a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: tomato;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

nav ul li a:hover:before {
    visibility: visible;
    width: 100%;
  }
.fa-plus{
    margin-left:40px;
    font-size:15px;
}

.show, input{
    display:none;
}
.burger{
    display:none;
}
.burger div{
    width:25px;
    height:3px;
    background-color:white;
    margin:5px;
}
@keyframes navLinkFade{
    from{
        opacity:0;
        transform:translateX(50px);
    }
    to{
        opacity:1;
        transform:translateX(0px);
    }
 }
 @media all and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
}
@media all and (max-width:1000px){
    html, body{
        overflow-X: hidden;
        position: relative
    }
    
    

    .nav-links{
        position:fixed;
        right:0px;
        height:90vh;
        top:8vh;
        border-radius: 20px;
        background-color: black;
        display:flex;
        flex-direction: column;
        padding-left:10px;
        transform:translateX(100%);
        transition:transform 0.5s ease-in;
    }
    .nav-links li{
        opacity:0;
        padding-left:20px;
    }
    .burger{
        display:block;
        cursor: pointer;
    }
    nav ul ul li{
        font-size:30px;
        padding-top:15px;
        padding-left: 30px;
        padding-right:0px;

    }
    nav ul ul{
        position:static;
    }
}
.title{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
.content{
    position: center;
    top: 0;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100%; 
    padding: 20px; 
    text-align: center;
    font-family: "arial";
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.head {
    font-family: "arial";
    text-align: center;
    font-style: italic;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.container {
    max-width:750px;
    margin: auto;
    position: relative;
}
.mySlides {
    display: none;
}
.cursor {
    cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "arial";
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    font-family: "arial";
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.caption-container {
    text-align: center;
    font-family: "arial";
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.rowtwo {
    content: "";
    display: table;
    clear: both;
    float: left;
}
.column {
    float: left;
    width: 16.66%;
}
.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
.nav-active{
    transform: translateX(0%);
}
.nav-links{
    z-index: 99999;
}